<div class="page" id="page">
  <div class="room-form">
    <h1 class="form-title">DM</h1>
    <h3 class="room-user">
      <% @user_rooms.each do |ur| %>
        <% if ur.user_id != current_user.id %>
          <%= link_to user_path(ur.user) do %>
            <%= ur.user.name %>さん
          <% end %>
        <% end %>
      <% end %>
    </h3>
    <div id="messages_area">
      <%= render partial: 'messages/index', locals: { messages: @messages } %>
    </div>
    <div id="message_form">
      <%= render partial: 'messages/form', locals: { message: @message, room: @room } %>
    </div>
  </div>
</div>
