/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "reset";
 @import "bootstrap";

body {
  width: 100vw;
  height: 100vh;
  background-color: #151515;
}

// ---------------ヘッダーのデザイン---------------

header {
  z-index: 4;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  margin-right: 40px;
  display: flex;
  align-items: flex-end;
  &:hover { 
    color: white;
    text-decoration: none;
  }
}

.logo-font {
  margin-right: 5px;
}

.logo-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.top-menu {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  li {
    list-style: none;
    .top-menu__list {
      color: white;
      font-size: 20px;
      margin-right: 30px;
    }
  }
}

.my-menu {
  margin: 10px;
  li {
    display: inline;
    .my-menu__list {
      color: white;
      margin-right: 10px;
    }
  }
}

.menu-icon {
  display: none;
}

.js-btn {
  display: none;
}
// .content {
//   width: 100%;
//   height: 900px;
//   margin-top: 200px;
//   background-color: aqua;
// }

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  background-color: black;
}

.page {
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 20px 0 100px;
}

.page-header {
  display: flex;
  padding-bottom: 10px;
  margin: 0 70px 20px;
  border-bottom: 2px solid white;
}

.page-title {
  color: white;
  font-weight: bold;
  margin-right: 20px;
}

.link-edit {
  color: white;
  font-size: 16px;
  background-color: darkgreen;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  &:hover { 
    color: darkgreen;
    background-color: white;
  }
}

.link-delete {
  color: white;
  font-size: 16px;
  background-color: red;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  &:hover { 
    color: red;
    background-color: white;
  }
}

.required {
  color: white;
  background-color: red;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

// ---------------フォームのデザイン---------------
.forms {
  width: 600px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.form-title {
  margin-bottom: 20px;
}

.form-group {
  font-size: 16px;
  padding-bottom: 5px;
}

.input-field {
  width: 100%;
}

.input-area {
  resize: none;
  width: 100%;
  height: 100px;
}

.form-image {
  padding: 5px;
  background-color: #eeeeee;
  border: 1px solid black;
  border-radius: 3px;
  &:hover { 
    background-color: #e5e5e5;
  }
}

.field-image {
  display: none;
}

.btn {
  width: 100%;  
}

.btn-info {
  margin-bottom: 10px;
}

.btn-success {
  margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
  
}

@media screen and (max-width: 896px) {
  .forms {
    width: 400px;
  }

  .top-menu {
    display: none;
  }

  .my-menu {
    display: none;
  }

  .menu-icon {
    position: fixed;
    right: -70%;
    width: 50%;
    height: 100vh;
    display: block;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background-color: #606060;
  }

  .menu-icon.open {
    right: 0;
  }

  .menu-list {
    display:block;
    padding: 20px;
  }
 
  .menu li a {
    text-decoration: none;
    color: #ddd
  }

  .js-btn {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto 0;
    z-index: 10;
  }
}

@media screen and (max-width: 480px) {
  .forms {
    width: 90%;
  }
}