/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "reset";
 @import "bootstrap";

body {
  width: 100vw;
  height: 100vh;
  background-color: #151515;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
}


.my-menu {
  li {
    display: inline;
    .my-menu__list {
      color: white;
    }
  }
}

.top-menu {
  li {
    display: inline;
    .top-menu__list {
      color: white;
    }
  }
}

.content {
  width: 100%;
  height: 900px;
  margin-top: 200px;
  background-color: aqua;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  background-color: black;
}

.page {
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 20px 0 100px;
  
}

.page-header {
  display: flex;
  padding-bottom: 10px;
  margin: 0 70px 20px;
  border-bottom: 2px solid white;
}

.page-title {
  color: white;
  font-weight: bold;
  margin-right: 20px;
}

.link-edit {
  color: white;
  font-size: 16px;
  background-color: darkgreen;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  &:hover { 
    color: darkgreen;
    background-color: white;
  }
}

.link-delete {
  color: white;
  font-size: 16px;
  background-color: red;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  &:hover { 
    color: red;
    background-color: white;
  }
}