// ホームのデザイン
.photos-box {
  width: 100%;
  height: 800px;
  background-color:#151515;
  margin-top: 100px;
  padding: 40px;
  display: grid;
  grid-template-columns: 330px 330px 330px 330px;
  justify-content: center;
}

.photo-box {
  height: 400px;
  background-color: black;
  border-radius: 10px;
  box-shadow:0px 0px 5px;
  margin: 10px;
  padding: 10px;
}

.photo-box__image {
  height: 200px;
  margin-bottom: 5px;
  // border: white 1px solid;
  .photo-box__image-size {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
}


.photo-box__title {
  color: #c0c0c0;
  font-size: 25px;
  font-weight: bold;
  &:hover { 
    text-decoration: underline;
  }
}

.photo-box__user-name {
  color: #c0c0c0;
  font-size: 15px;
  &:hover { 
    text-decoration: underline;
  }
}

// 詳細のデザイン
.photo-details {
  width: 100%;
  margin-top: 100px;
  padding: 10px 0;
}

.photo-details__image-area {
  width: 100%;
  height: 620px;
  margin: 10px 0;
  text-align: center;
  // border: 1px solid black;
  .photo-details__image {
    width: 70%;
    height: auto;
    max-height: 620px;
    object-fit: cover;
    object-position: center;
    box-shadow:0px 0px 5px;
    border-radius: 10px;
  }
}

.photo-information {
  width: 80%;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
}

.photo-information__header {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: #c0c0c0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.photo-information__title {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.photo-information__user-name {
  font-size: 20px;
  color: blue;
  margin: 5px 10px;
  &:hover { 
    text-decoration: underline;
  }
}
.photo-information__created {
  font-size: 15px;
  color: black;
  margin: 0px 10px;
}