// ホームのデザイン
.photos-box {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 330px 330px 330px 330px;
  justify-content: center;
}

.photo-box {
  height: 350px;
  background-color: black;
  border-radius: 10px;
  box-shadow:0px 0px 5px;
  margin: 10px;
  padding: 10px;
}

.photo-box__image {
  height: 200px;
  margin-bottom: 5px;
  // border: white 1px solid;
  .photo-box__image-size {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
}

.photo-box__head {
  display: flex;
  justify-content: space-between;
}

.photo-box__title {
  color: #c0c0c0;
  font-size: 25px;
  font-weight: bold;
  &:hover { 
    text-decoration: underline;
  }
}

.photo-box__user-name {
  color: #c0c0c0;
  font-size: 15px;
}

// ---------------写真詳細のデザイン---------------
.photo-details {
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 10px 0 100px;
}

// 画像
.photo-details__image-area {
  width: 100%;
  height: auto;
  margin: 10px 0;
  text-align: center;
  // border: 1px solid black;
  .photo-details__image {
    width: 60%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    box-shadow:0px 0px 5px white;
    border-radius: 5px;
  }
}

// 写真情報
.photo-information {
  width: 90%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
}

// 写真情報のヘッダー部分
.photo-information__header {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #c0c0c0;
  border-bottom: 10px solid #151515;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.photo-information__title {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.photo-information__user-name {
  font-size: 20px;
  color: blue;
  margin: 5px 10px;
  &:hover { 
    text-decoration: underline;
  }
}

.photo-information__created {
  font-size: 15px;
  color: black;
  margin: 0px 10px;
}

.like-goods {
  display: flex;
  margin-right: 10px;
}

.like-count {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
}

.like-btn {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: black; 
  margin-top: 10px;
  }
 
 .unlike-btn {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ff7f00;
  margin-top: 10px;
  }

// 写真情報のボディー部分
.photo-information__body {
 width: 100%;
 padding: 20px;
 display: flex;
 justify-content: space-between;
}

// 写真の説明部分
.photo-information__description {
  margin-bottom: 20px;
  resize: none;
  // border: 1px solid black;
}

.description-input {
  resize: none;
}

.exif-information {
  width: 350px;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
}

.exif-title {
  width: 100%;
  background-color: #c0c0c0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.photo-exifs {
  list-style: none;
  padding: 10px;
}

.photo-comments {
  width: 500px;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  margin: 20px;
}

.comments-title {
  width: 100%;
  background-color: #c0c0c0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.photo-comment {
  width: 100%;
  height: 300px;
  padding: 0 5px 10px;
  overflow: scroll;

}

.comment-form {
  width: 500px;
  display: inline-block;
  margin: 0 20px 20px;
  .comment-form__input {
    width: 100%;
    height: 60px;
    resize: none;
  }
  .comment-form__submit{
    height: 30px;
  }
}