.follow-title {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.follows {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  justify-content: center;

}

.follow {
  height: 270px;
  background-color: black;
  border-radius: 5px;
  box-shadow:0px 0px 5px;
  margin: 10px;
  padding: 10px;
}

.follow-image {
  width: 160px;
  height: 150px;
  margin-bottom: 5px;
  margin-right: 20px;
  .follow-image-size {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    box-shadow: 0 0 2px white;
  }
}

.follow-name {
  color: white;
  margin: 10px 0;
  &:hover { 
    text-decoration: underline;
  }
}