<div class="page">
  <div class="forms">
    <h1 class="form-title">カテゴリ編集</h1>

    <%= render 'categories/error_messages', model: @category %>
    <%= render 'categories/category_form', model: @category %>

    <%= link_to "戻る", :back %>
  </div>
</div>