<p>こんにちは <%= @resource.name %>さん !</p>

<p> 写活をご利用いただきありがとうございます。</p>

<p>ユーザー登録を完了してください。</p>

<p><%= link_to '写活にログインする', controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p>

<p>心当たりがない場合は、本メッセージは破棄してください。</p>